/* CSS Document */
/*

#5C3317 - Dark Brown
#804720 - Brown
#F7A26C - Tangerine
#CCAF9D - Desert Sand
#E76A1A - Spanish Orang

font-family: 'Roboto', sans-serif;

*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

*, *:after {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #804720;
    color: #CCAF9D;
}

h1 {
    font-size: 2.4em;
}

h2 {
    font-size: 2em;
}

blockquote {
    text-align: center;
    font-size: 5em; padding: 1em;
    color: #F7A26C;
}

table {
    padding: 2em;
}

ol { 
    padding-left: 2em;
}

tr {
    margin: 0.3em;
}

th {
    font-size: 1.6em;
}

td {
    font-size: 1.3em;
    margin: 0.3em;
    padding-left: 1em;
}

p {
    font-size: 0.8em;
}

a:link {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

a:visited {
    text-decoration: underline;
}

nav {
    background-color: #F7A26C
}

nav ul {
    margin: 1em;
}

nav ul li {
    margin: 0 auto;
    display: inline-block;
    font-size: 1.2em;
    padding: 0 2em;
}

nav ul li a:link {
    text-decoration: none;
    color: #5C3317;
}

nav ul li a:hover {
    text-decoration: none;
    color: #F7A26C;
    background-color: #5C3317;
}

nav ul li a:active {
    text-decoration: none;
    color: #CCAF9D;
    background-color: #804720;
}

nav ul li a:visited {
    text-decoration: none;
    color: #804720;
}

.imageNav {
    margin: 0 auto;
    display: block;
}

label {
    font-size: 1.3em;
}

input {
    font-size: 1.2em;
    background-color: #CCAF9D;
    color:#5C3317;
    border: solid;
    border-color: #804720;
    border-radius: 3px;
    border-width: 2px;
}

.btn:link {
    font-size: 1.2em;
    color: #CCAF9D;
    background-color: #804720;
    border: solid;
    border-radius: 3px;
    border-color: #F7A26C;
    border-width: 2px;
}

.btn:hover {
    font-size: 1.2em;
    color: #5C3317;
    background-color: #F7A26C;
    border: solid;
    border-radius: 3px;
    border-color: #CCAF9D;
    border-width: 2px;
}

.btn:active {
    font-size: 1.2em;
    color:#F7A26C;
    background-color: #F7A26C;
    border: solid;
    border-radius: 3px;
    border-color: #804720;
    border-width: 2px;
}

header {
    min-height: 300px;
}

main {
    margin: 1em;
    background-color: #5C3317;
}

footer {
    margin: 1em auto;
    text-align: center;
}
