/* CSS Document */
/*

#5C3317 - Dark Brown
#804720 - Brown
#F7A26C - Tangerine
#CCAF9D - Desert Sand
#E76A1A - Spanish Orang

*/

*, *:after {
    margin: 0;
    padding: 0;
    border: 0;
}

body {

}

h1 {

}

h2 {

}

blockquote {
    text-align:center
}

table {

}

tr {

}

th {

}

td {

}

a:link {

}

a:hover {

}

a:active {

}

a:visited {

}

nav {

}

nav ul {

}

nav ul li {

}

nav ul li a:link {

}

nav ul li a:hover {

}

nav ul li a:active {

}

nav ul li a:visited {
    
}

header {
    min-height: 300px;
}

main {
    margin: 1em;
}

footer {
    margin: 1em auto;
}
